.project-container {
    padding: 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #191f24;
    transition: all 0.3s ease;
    /* Ændret til all for at inkludere farveændringer */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.project-card:hover {
    transform: scale(1.03);
    background: #64c785;
}

.project-card-link:hover .project-card h2,
.project-card-link:hover .project-card p {
    color: #191f24 !important;
    /* Tilføjet !important for at overskrive andre styles */
}

.project-card img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #191f24;
}


/* Mobile optimization */
@media (max-width: 500px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        padding: 10px;
    }

    .project-card img {
        max-height: 150px;
    }
}